Repository probabilistic-numerics/probnum, pull requests merged in 2020-11, with the labels that each got.

#233 Remove unused code for (classic) quadrature and utility functions
  .github/workflows/pylint_check.py
  docs/Makefile
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/bayesian/__init__.py
  src/probnum/quad/bayesian/bayesquadrature.py
  src/probnum/quad/bq_methods/__init__.py
  src/probnum/quad/bq_methods/_bayesian_quadrature.py
  src/probnum/quad/bq_methods/_warped.py
  src/probnum/quad/polynomial/__init__.py
  src/probnum/quad/polynomial/clenshawcurtis.py
  src/probnum/quad/polynomial/polynomialquadrature.py
  src/probnum/quad/quadrature.py
  src/probnum/utils/__init__.py
  src/probnum/utils/arrayutils.py
  src/probnum/utils/fctutils.py
  tests/test_quad/test_bayesquad/__init__.py
  tests/test_quad/test_polynomial/__init__.py
  tests/test_quad/test_polynomial/test_clenshawcurtis.py
  tests/test_quad/test_quadrature.py
  tests/test_utils/test_arrayutils.py
  tests/test_utils/test_fctutils.py
  tox.ini
Labels: quad, refactoring

#231 Refactor transitions and Gaussian filters
  src/probnum/diffeq/ode/ivp.py
  src/probnum/diffeq/odefiltsmooth/ivp2filter.py
  src/probnum/diffeq/odefiltsmooth/ivpfiltsmooth.py
  src/probnum/diffeq/odefiltsmooth/odefiltsmooth.py
  src/probnum/diffeq/odefiltsmooth/prior.py
  src/probnum/filtsmooth/__init__.py
  src/probnum/filtsmooth/gaussfiltsmooth/__init__.py
  src/probnum/filtsmooth/gaussfiltsmooth/_utils.py
  src/probnum/filtsmooth/gaussfiltsmooth/extendedkalman.py
  src/probnum/filtsmooth/gaussfiltsmooth/gaussfiltsmooth.py
  src/probnum/filtsmooth/gaussfiltsmooth/kalman.py
  src/probnum/filtsmooth/gaussfiltsmooth/kalmanposterior.py
  src/probnum/filtsmooth/gaussfiltsmooth/unscentedkalman.py
  src/probnum/filtsmooth/statespace/__init__.py
  src/probnum/filtsmooth/statespace/continuous/__init__.py
  src/probnum/filtsmooth/statespace/continuous/continuousmodel.py
  src/probnum/filtsmooth/statespace/continuous/linearsdemodel.py
  src/probnum/filtsmooth/statespace/discrete/__init__.py
  src/probnum/filtsmooth/statespace/discrete/discretemodel.py
  src/probnum/filtsmooth/statespace/discrete_transition.py
  src/probnum/filtsmooth/statespace/sde.py
  src/probnum/filtsmooth/statespace/statespace.py
  src/probnum/filtsmooth/statespace/transition.py
  tests/test_diffeq/test_odefiltsmooth/test_ivp2filter.py
  tests/test_diffeq/test_odefiltsmooth/test_odefiltsmooth.py
  tests/test_diffeq/test_odefiltsmooth/test_prior.py
  tests/test_filtsmooth/test_gaussfiltsmooth/filtsmooth_testcases.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_extendedkalman.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_kalman.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_unscentedkalman.py
  tests/test_filtsmooth/test_statespace/test_continuous/__init__.py
  tests/test_filtsmooth/test_statespace/test_continuous/test_continuousmodel.py
  tests/test_filtsmooth/test_statespace/test_continuous/test_linearsdemodel.py
  tests/test_filtsmooth/test_statespace/test_discrete/__init__.py
  tests/test_filtsmooth/test_statespace/test_discrete/test_discretegaussianmodel.py
  tests/test_filtsmooth/test_statespace/test_discrete/test_discretemodel.py
  tests/test_filtsmooth/test_statespace/test_discrete_transition.py
  tests/test_filtsmooth/test_statespace/test_sde.py
  tests/test_filtsmooth/test_statespace/test_transition.py
Labels: diffeq, filtsmooth, refactoring

#243 Fix the order of callback and saving in ODESolver.solve
  src/probnum/diffeq/odesolver.py
Labels: diffeq

#242 Implemented the dynamic diffusion and error estimation
  src/probnum/diffeq/odefiltsmooth/ivpfiltsmooth.py
  src/probnum/diffeq/odefiltsmooth/odefiltsmooth.py
  src/probnum/filtsmooth/gaussfiltsmooth/kalman.py
Labels: diffeq

#256 Reduced strictness of codecov via config file
  codecov.yml
Labels: testing and CI
