Repository probabilistic-numerics/probnum, pull requests merged in 2021-04, with the labels that each got.

#356 Random Processes
  docs/source/index.rst
  docs/source/public_api/randprocs.rst
  docs/source/public_api/randvars.rst
  src/probnum/__init__.py
  src/probnum/randprocs/__init__.py
  src/probnum/randprocs/_gaussian_process.py
  src/probnum/randprocs/_markov_process.py
  src/probnum/randprocs/_random_process.py
  src/probnum/statespace/__init__.py
  tests/test_randprocs/__init__.py
  tests/test_randprocs/conftest.py
  tests/test_randprocs/test_gaussian_process.py
  tests/test_randprocs/test_markov_process.py
  tests/test_randprocs/test_random_process.py
  tests/test_randvars/test_constant.py
  tox.ini
Labels: prob

#375 Bayesian quadrature
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/_integration_measures.py
  src/probnum/quad/bq_methods/__init__.py
  src/probnum/quad/bq_methods/_bayesian_quadrature.py
  src/probnum/quad/bq_methods/_warped.py
  src/probnum/quad/bq_methods/bayesian_quadrature.py
  src/probnum/quad/kernel_embeddings/__init__.py
  src/probnum/quad/kernel_embeddings/_expquad_gauss.py
  src/probnum/quad/kernel_embeddings/_expquad_lebesgue.py
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
  src/probnum/quad/policies/__init__.py
  src/probnum/quad/policies/sample_measure.py
  tests/test_quad/conftest.py
  tests/test_quad/test_bayesquad/test_bq.py
  tests/test_quad/test_integration_measure.py
  tests/test_quad/test_kernel_embeddings.py
Labels: quad

#372 Use problem classes in filtsmooth
  docs/source/tutorials/filtsmooth/linear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/nonlinear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/particle_filtering.ipynb
  src/probnum/diffeq/odefiltsmooth/initialize.py
  src/probnum/filtsmooth/gaussfiltsmooth/kalman.py
  src/probnum/filtsmooth/particlefiltsmooth/_particle_filter.py
  src/probnum/problems/_problems.py
  tests/test_diffeq/test_odefiltsmooth/test_kalman_odesolution.py
  tests/test_filtsmooth/filtsmooth_testcases.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_iterated_kalman.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_kalman.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_kalmanposterior.py
  tests/test_filtsmooth/test_particlefiltsmooth/test_particle_filter.py
Labels: filtsmooth, refactoring

#373 Benchmarks for filtering and smoothing
  benchmarks/filtsmooth.py
  benchmarks/ivpsolvers.py
Labels: filtsmooth

#379 Move filtsmooth problems to new filtsmooth problem zoo
  benchmarks/filtsmooth.py
  docs/source/public_api/problems.rst
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/filtsmooth/__init__.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  tests/test_filtsmooth/filtsmooth_testcases.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_iterated_kalman.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_kalman.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_kalmanposterior.py
  tests/test_filtsmooth/test_particlefiltsmooth/test_particle_filter.py
  tests/test_problems/test_zoo/test_filtsmooth/__init__.py
  tests/test_problems/test_zoo/test_filtsmooth/test_filtsmooth_problems.py
Labels: filtsmooth

#385 Linear Operator Benchmarks
  benchmarks/linops.py
Labels: linalg, testing and CI

#386 Stabilise matrix inversion in discrete transitions
  src/probnum/statespace/discrete_transition.py
Labels: improvement, statespace

#390 Update linop benchmarks
  benchmarks/linops.py
Labels: refactoring

#381 Refactor linear operators to use compositional pattern
  benchmarks/linops.py
  benchmarks/random_variables.py
  docs/source/introduction/quickstart.ipynb
  docs/source/tutorials/linalg/linear_operators.ipynb
  docs/source/tutorials/linalg/linear_systems.ipynb
  src/probnum/linalg/linearsolvers/matrixbased.py
  src/probnum/linops/__init__.py
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/linops/_utils.py
  src/probnum/problems/zoo/linalg/_suitesparse_matrix.py
  src/probnum/randvars/_normal.py
  src/probnum/randvars/_utils.py
  src/probnum/utils/argutils.py
  tests/test_linops/test_kronecker.py
  tests/test_linops/test_linearoperators.py
  tests/test_linops/test_linops.py
  tests/test_linops/test_linops_cases/linear_operator_cases.py
  tests/test_linops/test_linops_cases/scaling_cases.py
  tests/test_randvars/test_normal.py
  tests/test_randvars/test_random_variable.py
  tests/test_utils/test_argutils.py
Labels: documentation, improvement, linalg, refactoring, testing and CI
