Repository probabilistic-numerics/probnum, pull requests merged in 2021-11, with the labels that each got.

#559 Rename `lazy_linalg` config option `matrix_free`
  benchmarks/randprocs.py
  src/probnum/_config.py
  src/probnum/randprocs/markov/discrete/_linear_gaussian.py
  src/probnum/randprocs/markov/integrator/_iwp.py
  src/probnum/randprocs/markov/integrator/_preconditioner.py
  src/probnum/randvars/_constant.py
  tests/test_randprocs/test_markov/test_discrete/test_linear_gaussian.py
  tests/test_randprocs/test_markov/test_integrator/test_iwp.py
  tests/test_randvars/test_constant.py
  tests/test_randvars/test_normal.py
Labels: refactoring, linalg

#546 [PLS Refactor] Belief Updates
  docs/source/api/linalg/solvers.belief_updates.matrix_based.rst
  docs/source/api/linalg/solvers.belief_updates.rst
  docs/source/api/linalg/solvers.belief_updates.solution_based.rst
  docs/source/api/linalg/solvers.rst
  src/probnum/linalg/solvers/__init__.py
  src/probnum/linalg/solvers/_state.py
  src/probnum/linalg/solvers/belief_updates/__init__.py
  src/probnum/linalg/solvers/belief_updates/_linear_solver_belief_update.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/__init__.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/_matrix_based_linear_belief_update.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/_symmetric_matrix_based_linear_belief_update.py
  src/probnum/linalg/solvers/belief_updates/solution_based/__init__.py
  src/probnum/linalg/solvers/belief_updates/solution_based/_solution_based_proj_rhs_belief_update.py
  src/probnum/linalg/solvers/information_ops/__init__.py
  src/probnum/linalg/solvers/information_ops/_linear_solver_information_op.py
  src/probnum/linalg/solvers/information_ops/_matvec.py
  src/probnum/linalg/solvers/information_ops/_proj_residual.py
  src/probnum/linalg/solvers/information_ops/_projected_rhs.py
  src/probnum/linalg/solvers/policies/_conjugate_gradient.py
  src/probnum/linalg/solvers/policies/_linear_solver_policy.py
  src/probnum/linalg/solvers/policies/_random_unit_vector.py
  src/probnum/linalg/solvers/stopping_criteria/__init__.py
  src/probnum/linalg/solvers/stopping_criteria/_linear_solver_stopping_criterion.py
  src/probnum/linalg/solvers/stopping_criteria/_maxiter.py
  src/probnum/linalg/solvers/stopping_criteria/_posterior_contraction.py
  src/probnum/linalg/solvers/stopping_criteria/_residual_norm.py
  tests/test_linalg/test_solvers/cases/belief_updates.py
  tests/test_linalg/test_solvers/cases/information_ops.py
  tests/test_linalg/test_solvers/cases/states.py
  tests/test_linalg/test_solvers/cases/stopping_criteria.py
  tests/test_linalg/test_solvers/test_belief_updates/__init__.py
  tests/test_linalg/test_solvers/test_belief_updates/test_linear_system_belief_update.py
  tests/test_linalg/test_solvers/test_belief_updates/test_matrix_based/__init__.py
  tests/test_linalg/test_solvers/test_belief_updates/test_matrix_based/test_matrix_based_linear_belief_update.py
  tests/test_linalg/test_solvers/test_belief_updates/test_matrix_based/test_symmetric_matrix_based_linear_belief_update.py
  tests/test_linalg/test_solvers/test_belief_updates/test_solution_based/__init__.py
  tests/test_linalg/test_solvers/test_belief_updates/test_solution_based/test_solution_based_proj_rhs_belief_update.py
  tests/test_linalg/test_solvers/test_information_ops/test_linear_solver_info_op.py
  tests/test_linalg/test_solvers/test_information_ops/test_projected_rhs.py
  tests/test_linalg/test_solvers/test_information_ops/test_residual.py
  tests/test_linalg/test_solvers/test_policies/test_conjugate_gradient.py
  tests/test_linalg/test_solvers/test_policies/test_linear_solver_policy.py
  tests/test_linalg/test_solvers/test_policies/test_random_unit_vector.py
  tests/test_linalg/test_solvers/test_state.py
  tests/test_linalg/test_solvers/test_stopping_criteria/test_linear_solver_stopping_criterion.py
  tests/test_linalg/test_solvers/test_stopping_criteria/test_maxiter.py
  tests/test_linalg/test_solvers/test_stopping_criteria/test_posterior_contraction.py
  tests/test_linalg/test_solvers/test_stopping_criteria/test_residual_norm.py
Labels: refactoring, linalg

#562 Pytest version pinned for Python 3.8.10 or older
  setup.cfg
Labels: bug, testing and CI

#558 Bugfix and additional tests for matrix-variate normal arithmetic
  src/probnum/randvars/_arithmetic.py
  src/probnum/utils/linalg/_cholesky_updates.py
  tests/test_randvars/test_arithmetic.py
  tests/test_randvars/test_arithmetic/__init__.py
  tests/test_randvars/test_arithmetic/conftest.py
  tests/test_randvars/test_arithmetic/test_constant.py
  tests/test_randvars/test_arithmetic/test_generic.py
  tests/test_randvars/test_arithmetic/test_matrixvariate_normal.py
  tests/test_randvars/test_arithmetic/test_multivariate_normal.py
Labels: bug, linalg, prob

#563 Pass positional arguments to `pytest` via `tox`
  tox.ini
Labels: testing and CI

#561 Base class `StoppingCriterion` for stopping criteria of probabilistic numerical methods.
  docs/source/_ext/probnum-config-options.py
  docs/source/api.rst
  src/probnum/__init__.py
  src/probnum/_pnmethod/__init__.py
  src/probnum/_pnmethod/_probabilistic_numerical_method.py
  src/probnum/_pnmethod/_stopping_criterion.py
  src/probnum/filtsmooth/gaussian/_kalman.py
  src/probnum/filtsmooth/optim/__init__.py
  src/probnum/filtsmooth/optim/_gauss_newton.py
  src/probnum/filtsmooth/optim/_iterated_component.py
  src/probnum/filtsmooth/optim/_state_space_optimizer.py
  src/probnum/filtsmooth/optim/_stopping_criterion.py
  src/probnum/linalg/solvers/stopping_criteria/_linear_solver_stopping_criterion.py
  tests/test_filtsmooth/test_optim/test_gauss_newton.py
  tests/test_filtsmooth/test_optim/test_stoppingcriterion.py
  tests/test_pnmethod/__init__.py
  tests/test_pnmethod/test_stopping_citerion/__init__.py
  tests/test_pnmethod/test_stopping_citerion/test_stopping_criterion.py
Labels: improvement

#568 Move `kernels` subpackage into `randprocs`
  benchmarks/kernels.py
  docs/source/api.rst
  docs/source/api/kernels.rst
  docs/source/api/randprocs.rst
  docs/source/api/randprocs/kernels.rst
  src/probnum/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/bq_methods/bayesian_quadrature.py
  src/probnum/quad/kernel_embeddings/_expquad_gauss.py
  src/probnum/quad/kernel_embeddings/_expquad_lebesgue.py
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
  src/probnum/randprocs/__init__.py
  src/probnum/randprocs/_gaussian_process.py
  src/probnum/randprocs/kernels/__init__.py
  src/probnum/randprocs/kernels/_exponentiated_quadratic.py
  src/probnum/randprocs/kernels/_kernel.py
  src/probnum/randprocs/kernels/_linear.py
  src/probnum/randprocs/kernels/_matern.py
  src/probnum/randprocs/kernels/_polynomial.py
  src/probnum/randprocs/kernels/_rational_quadratic.py
  src/probnum/randprocs/kernels/_white_noise.py
  tests/test_linalg/cases/matrices.py
  tests/test_quad/conftest.py
  tests/test_randprocs/conftest.py
  tests/test_randprocs/test_kernels/__init__.py
  tests/test_randprocs/test_kernels/_utils.py
  tests/test_randprocs/test_kernels/conftest.py
  tests/test_randprocs/test_kernels/test_call.py
  tests/test_randprocs/test_kernels/test_matern.py
  tests/test_randprocs/test_kernels/test_matrix.py
  tests/test_randprocs/test_kernels/test_rational_quadratic.py
  tox.ini
Labels: refactoring, prob

#420 BQ loop structure
  docs/source/tutorials/linalg/linear_solvers_quickstart.ipynb
  docs/source/tutorials/quickstart.ipynb
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/_integration_measures.py
  src/probnum/quad/bq_methods/__init__.py
  src/probnum/quad/bq_methods/bayesian_quadrature.py
  src/probnum/quad/bq_methods/belief_updates/__init__.py
  src/probnum/quad/bq_methods/belief_updates/_belief_update.py
  src/probnum/quad/bq_methods/bq_state.py
  src/probnum/quad/kernel_embeddings/_expquad_gauss.py
  src/probnum/quad/kernel_embeddings/_expquad_lebesgue.py
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
  src/probnum/quad/policies/__init__.py
  src/probnum/quad/policies/_policy.py
  src/probnum/quad/policies/sample_measure.py
  src/probnum/quad/stop_criteria/__init__.py
  src/probnum/quad/stop_criteria/_stopping_criterion.py
  tests/test_quad/conftest.py
  tests/test_quad/test_bayesquad/test_bq.py
  tests/test_quad/test_integration_measure.py
  tests/test_quad/test_kernel_embeddings.py
  tests/test_quad/util.py
Labels: quad

#505 LinOp arithmetic part 1
  src/probnum/_config.py
  src/probnum/linops/__init__.py
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/randprocs/markov/discrete/_linear_gaussian.py
  src/probnum/randprocs/markov/integrator/_integrator.py
  src/probnum/randprocs/markov/integrator/_iwp.py
  src/probnum/randprocs/markov/integrator/_preconditioner.py
  src/probnum/randvars/_constant.py
  src/probnum/randvars/_normal.py
  src/probnum/typing.py
  tests/test_linops/test_arithmetics.py
  tests/test_linops/test_arithmetics_fallbacks.py
  tests/test_linops/test_linearoperators.py
  tests/test_linops/test_linops_cases/selectionembedding_cases.py
  tests/test_randprocs/test_markov/test_integrator/test_iwp.py
  tests/test_randvars/test_normal.py
Labels: feature request, improvement

#572 1x1 Matrix-variate Normal Multiplication Bugfix
  src/probnum/randvars/_arithmetic.py
  tests/test_randvars/test_arithmetic/test_matrixvariate_normal.py
Labels: bug, prob

#575 Remove support for complex dtypes from `LinearOperator`
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  tests/test_linops/test_arithmetics.py
  tests/test_linops/test_linops.py
Labels: refactoring, linops

#576 Invert semantics of `lazy_matrix_matrix_matmul` config option
  src/probnum/_config.py
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_linear_operator.py
  tests/test_linops/test_arithmetics.py
Labels: documentation, refactoring, linops

#577 Add `axes` argument to `LinearOperator.transpose`
  src/probnum/linops/_linear_operator.py
  tests/test_linops/test_linops.py
Labels: refactoring, improvement, linops

#570 BQ stopping criteria use base class
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/solvers/__init__.py
  src/probnum/quad/solvers/bayesian_quadrature.py
  src/probnum/quad/solvers/belief_updates/__init__.py
  src/probnum/quad/solvers/belief_updates/_belief_update.py
  src/probnum/quad/solvers/bq_state.py
  src/probnum/quad/solvers/policies/__init__.py
  src/probnum/quad/solvers/policies/_policy.py
  src/probnum/quad/solvers/stopping_criteria/__init__.py
  src/probnum/quad/solvers/stopping_criteria/_bq_stopping_criterion.py
  src/probnum/quad/solvers/stopping_criteria/_integral_variance_tol.py
  src/probnum/quad/solvers/stopping_criteria/_max_nevals.py
  src/probnum/quad/solvers/stopping_criteria/_rel_mean_change.py
  src/probnum/quad/stop_criteria/__init__.py
  src/probnum/quad/stop_criteria/_stopping_criterion.py
Labels: quad

#579 Make `MaxIterations` stopping criterion stateless
  src/probnum/linalg/solvers/stopping_criteria/_maxiter.py
Labels: bug, linalg

#565 [PLS Refactor] Base class `ProbabilisticLinearSolver`
  docs/source/development/adding_to_the_api_documentation.ipynb
  setup.cfg
  src/probnum/_pnmethod/_probabilistic_numerical_method.py
  src/probnum/_pnmethod/_stopping_criterion.py
  src/probnum/linalg/__init__.py
  src/probnum/linalg/_bayescg.py
  src/probnum/linalg/_problinsolve.py
  src/probnum/linalg/solvers/__init__.py
  src/probnum/linalg/solvers/_probabilistic_linear_solver.py
  src/probnum/linalg/solvers/_state.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/_matrix_based_linear_belief_update.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/_symmetric_matrix_based_linear_belief_update.py
  src/probnum/linalg/solvers/belief_updates/solution_based/_solution_based_proj_rhs_belief_update.py
  src/probnum/linalg/solvers/beliefs/_linear_system_belief.py
  src/probnum/linalg/solvers/policies/_linear_solver_policy.py
  tests/test_linalg/test_problinsolve.py
  tests/test_linalg/test_solvers/cases/beliefs.py
  tests/test_linalg/test_solvers/cases/problems.py
  tests/test_linalg/test_solvers/cases/solvers.py
  tests/test_linalg/test_solvers/cases/states.py
  tests/test_linalg/test_solvers/conftest.py
  tests/test_linalg/test_solvers/test_belief_updates/test_matrix_based/test_symmetric_matrix_based_linear_belief_update.py
  tests/test_linalg/test_solvers/test_belief_updates/test_solution_based/test_solution_based_proj_rhs_belief_update.py
  tests/test_linalg/test_solvers/test_probabilistic_linear_solver/test_asymmetric.py
  tests/test_linalg/test_solvers/test_probabilistic_linear_solver/test_symmetric.py
Labels: refactoring, linalg, improvement
