Repository probabilistic-numerics/probnum, pull requests merged in 2021-07, with the labels that each got.

#454 Rename `probnum.type` to `probnum.typing`
  docs/source/development/implementing_a_probnum_method.ipynb
  docs/source/development/quadopt_example/_probsolve_qp.py
  docs/source/development/quadopt_example/belief_updates.py
  docs/source/development/quadopt_example/observation_operators.py
  docs/source/development/quadopt_example/policies.py
  docs/source/development/quadopt_example/probabilistic_quadratic_optimizer.py
  docs/source/development/quadopt_example/stopping_criteria.py
  docs/source/development/styleguide.md
  src/probnum/diffeq/odefiltsmooth/kalman_odesolution.py
  src/probnum/diffeq/odesolution.py
  src/probnum/diffeq/steprule.py
  src/probnum/diffeq/wrappedscipyodesolution.py
  src/probnum/diffeq/wrappedscipysolver.py
  src/probnum/filtsmooth/_gaussfiltsmooth/_kalmanposterior.py
  src/probnum/filtsmooth/_gaussfiltsmooth/_unscentedkalman.py
  src/probnum/filtsmooth/_particlefiltsmooth/_particle_filter.py
  src/probnum/filtsmooth/_particlefiltsmooth/_particle_filter_posterior.py
  src/probnum/filtsmooth/_timeseriesposterior.py
  src/probnum/kernels/_exponentiated_quadratic.py
  src/probnum/kernels/_kernel.py
  src/probnum/kernels/_linear.py
  src/probnum/kernels/_matern.py
  src/probnum/kernels/_polynomial.py
  src/probnum/kernels/_rational_quadratic.py
  src/probnum/kernels/_white_noise.py
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/problems/zoo/linalg/_random_spd_matrix.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/_integration_measures.py
  src/probnum/randprocs/_gaussian_process.py
  src/probnum/randprocs/_markov_process.py
  src/probnum/randprocs/_random_process.py
  src/probnum/randvars/_categorical.py
  src/probnum/randvars/_constant.py
  src/probnum/randvars/_normal.py
  src/probnum/randvars/_random_variable.py
  src/probnum/statespace/diffusions.py
  src/probnum/statespace/discrete_transition.py
  src/probnum/statespace/integrator.py
  src/probnum/statespace/sde.py
  src/probnum/statespace/transition.py
  src/probnum/typing.py
  src/probnum/utils/argutils.py
  tests/test_quad/test_kernel_embeddings.py
Labels: refactoring

#455 `random_sparse_spd_matrix` now returns a `scipy.sparse.spmatrix`
  src/probnum/problems/zoo/linalg/_random_spd_matrix.py
  tests/test_problems/test_zoo/test_linalg/conftest.py
  tests/test_problems/test_zoo/test_linalg/test_random_spd_matrix.py
Labels: improvement, linalg

#451 Missing documentation for linear operators
  docs/Makefile
  src/probnum/linops/__init__.py
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/linops/_utils.py
Labels: documentation

#382 Perturbed-Step Solver and testing
  src/probnum/diffeq/__init__.py
  src/probnum/diffeq/perturbedsolvers/__init__.py
  src/probnum/diffeq/perturbedsolvers/_perturbation_functions.py
  src/probnum/diffeq/perturbedsolvers/_perturbedstepsolution.py
  src/probnum/diffeq/perturbedsolvers/_perturbedstepsolver.py
  src/probnum/diffeq/wrappedscipysolver.py
  tests/test_diffeq/test_perturbedsolvers/test_perturbed_cases.py
  tests/test_diffeq/test_perturbedsolvers/test_perturbedstepsolution.py
  tests/test_diffeq/test_perturbedsolvers/test_perturbedstepsolver.py
  tests/test_diffeq/test_wrappedscipysolver.py
Labels: diffeq

#457 Improved implementation of `random_sparse_spd_matrix`
  src/probnum/problems/zoo/linalg/_random_spd_matrix.py
  tests/test_problems/test_zoo/test_linalg/test_random_spd_matrix.py
Labels: improvement, linalg

#463 Fixed pytest_cases to correct version
  setup.cfg
Labels: testing and CI

#461 Improved API reference structure for `probnum.problems`
  docs/source/api/problems.rst
  docs/source/api/problems/zoo.diffeq.rst
  docs/source/api/problems/zoo.filtsmooth.rst
  docs/source/api/problems/zoo.linalg.rst
  docs/source/api/problems/zoo.rst
  docs/source/api/utils.rst
  docs/source/api/utils/linalg.rst
  src/probnum/problems/zoo/__init__.py
Labels: documentation

#403 Build FilteringPosterior on the fly
  src/probnum/diffeq/odefiltsmooth/ivpfiltsmooth.py
  src/probnum/filtsmooth/_gaussfiltsmooth/_kalman.py
  src/probnum/filtsmooth/_gaussfiltsmooth/_kalmanposterior.py
  src/probnum/filtsmooth/_timeseriesposterior.py
  tests/test_filtsmooth/test_gaussfiltsmooth/test_kalmanposterior.py
Labels: filtsmooth

#401 Return forwarded RV
  src/probnum/statespace/discrete_transition.py
  src/probnum/statespace/integrator.py
  tests/test_statespace/test_integrator.py
Labels: filtsmooth

#464 Large scale linear solver benchmarks
  benchmarks/benchmark_utils.py
  benchmarks/linearsolvers.py
  benchmarks/random_variables.py
  src/probnum/linalg/linearsolvers/linearsolvers.py
Labels: linalg

#468 Website Navigation Bar Update
  docs/source/_templates/footer.html
  docs/source/_templates/index.html
  docs/source/research.md
  docs/source/tutorials/pn_methods.ipynb
Labels: improvement

#475 Move ODE example problems into the problem zoo
  benchmarks/ivpsolvers.py
  docs/source/tutorials/filtsmooth/particle_filtering.ipynb
  docs/source/tutorials/odes/adaptive_steps_odefilter.ipynb
  docs/source/tutorials/odes/odesolvers_from_scratch.ipynb
  docs/source/tutorials/odes/uncertainties_odefilters.ipynb
  src/probnum/diffeq/__init__.py
  src/probnum/diffeq/ode/__init__.py
  src/probnum/diffeq/ode/ivp.py
  src/probnum/diffeq/ode/ivp_examples.py
  src/probnum/diffeq/ode/ode.py
  src/probnum/diffeq/odefiltsmooth/ivpfiltsmooth.py
  src/probnum/diffeq/odefiltsmooth/kalman_odesolution.py
  src/probnum/diffeq/odefiltsmooth/odefiltsmooth.py
  src/probnum/diffeq/steprule.py
  src/probnum/diffeq/wrappedscipysolver.py
  src/probnum/filtsmooth/_gaussfiltsmooth/_extendedkalman.py
  src/probnum/filtsmooth/_gaussfiltsmooth/_iterated_component.py
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/diffeq/__init__.py
  src/probnum/problems/zoo/diffeq/_ivp_examples.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/statespace/discrete_transition.py
  tests/test_diffeq/test_ode/__init__.py
  tests/test_diffeq/test_ode/test_ivp.py
  tests/test_diffeq/test_ode/test_ivp_examples.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize.py
  tests/test_diffeq/test_odefiltsmooth/test_ivpfiltsmooth.py
  tests/test_diffeq/test_odefiltsmooth/test_kalman_odesolution.py
  tests/test_diffeq/test_odefiltsmooth/test_odefiltsmooth.py
  tests/test_diffeq/test_odefiltsmooth/test_string_to_measmodel.py
  tests/test_diffeq/test_odesolver.py
  tests/test_diffeq/test_perturbedsolvers/test_perturbed_cases.py
  tests/test_diffeq/test_perturbedsolvers/test_perturbedstepsolution.py
  tests/test_diffeq/test_wrappedscipy_cases.py
  tests/test_diffeq/test_wrappedscipysolver.py
  tests/test_problems/test_zoo/test_diffeq/test_ivp_examples.py
Labels: diffeq, refactoring

#476 Fix tiny mistake in linops tutorial notebook
  docs/source/tutorials/linalg/linear_operators.ipynb
Labels: documentation

#465 Global Configuration
  docs/source/api.rst
  docs/source/api/config.rst
  src/probnum/__init__.py
  src/probnum/_config.py
  src/probnum/randvars/_normal.py
  tests/test_config.py
  tests/test_randvars/test_normal.py
Labels: feature request, improvement, refactoring

#480 Auto-generate documentation for `probnum.config` options
  docs/source/_ext/probnum-config-options.py
  docs/source/api.rst
  docs/source/conf.py
  src/probnum/__init__.py
  src/probnum/_config.py
  tests/test_config.py
Labels: documentation, improvement

#481 Convenience function for perturbation-based solvers
  src/probnum/diffeq/__init__.py
  src/probnum/diffeq/_perturbsolve_ivp.py
  src/probnum/diffeq/_probsolve_ivp.py
  src/probnum/diffeq/perturbed/step/_perturbedstepsolver.py
  tests/test_diffeq/test_perturbsolve_ivp.py
Labels: diffeq, improvement

#460 [PLS Refactor] `ProbabilisticLinearSolverState`, `LinearSystemBelief` and `LinearSolverPolicy`
  .pre-commit-config.yaml
  docs/source/api.rst
  docs/source/api/linalg.rst
  docs/source/api/linalg/solvers.beliefs.rst
  docs/source/api/linalg/solvers.policies.rst
  docs/source/api/linalg/solvers.rst
  docs/source/conf.py
  docs/source/development/adding_to_the_api_documentation.ipynb
  docs/source/development/styleguide.md
  docs/source/tutorials/linalg/linear_systems.ipynb
  setup.cfg
  src/probnum/linalg/__init__.py
  src/probnum/linalg/_problinsolve.py
  src/probnum/linalg/linearsolvers/__init__.py
  src/probnum/linalg/linearsolvers/solutionbased.py
  src/probnum/linalg/solvers/__init__.py
  src/probnum/linalg/solvers/_probabilistic_linear_solver.py
  src/probnum/linalg/solvers/_state.py
  src/probnum/linalg/solvers/beliefs/__init__.py
  src/probnum/linalg/solvers/beliefs/_linear_system_belief.py
  src/probnum/linalg/solvers/matrixbased.py
  src/probnum/linalg/solvers/policies/__init__.py
  src/probnum/linalg/solvers/policies/_conjugate_gradient.py
  src/probnum/linalg/solvers/policies/_linear_solver_policy.py
  src/probnum/linalg/solvers/policies/_random_unit_vector.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/problems/zoo/linalg/__init__.py
  src/probnum/problems/zoo/linalg/_random_linear_system.py
  src/probnum/problems/zoo/linalg/_random_spd_matrix.py
  src/probnum/randvars/_normal.py
  src/probnum/randvars/_random_variable.py
  src/probnum/typing.py
  tests/test_linalg/cases/__init__.py
  tests/test_linalg/cases/linear_systems.py
  tests/test_linalg/cases/matrices.py
  tests/test_linalg/conftest.py
  tests/test_linalg/test_problinsolve.py
  tests/test_linalg/test_solvers/cases/__init__.py
  tests/test_linalg/test_solvers/cases/beliefs.py
  tests/test_linalg/test_solvers/cases/policies.py
  tests/test_linalg/test_solvers/cases/states.py
  tests/test_linalg/test_solvers/test_beliefs/__init__.py
  tests/test_linalg/test_solvers/test_beliefs/test_linear_system_belief.py
  tests/test_linalg/test_solvers/test_policies/__init__.py
  tests/test_linalg/test_solvers/test_policies/test_conjugate_gradient.py
  tests/test_linalg/test_solvers/test_policies/test_linear_solver_policy.py
  tests/test_linalg/test_solvers/test_policies/test_random_unit_vector.py
  tests/test_linalg/test_solvers/test_state.py
  tests/test_problems/test_zoo/test_linalg/test_random_linear_system.py
Labels: linalg, refactoring

#490 Initialization routines for ODE filters
  docs/source/api/diffeq/odefiltsmooth.rst
  docs/source/api/diffeq/odefiltsmooth/initialization_routines.rst
  docs/source/api/diffeq/odefiltsmooth/initialize.rst
  docs/source/tutorials/odes/odesolvers_from_scratch.ipynb
  src/probnum/diffeq/_probsolve_ivp.py
  src/probnum/diffeq/odefiltsmooth/_ivpfiltsmooth.py
  src/probnum/diffeq/odefiltsmooth/initialization_routines/__init__.py
  src/probnum/diffeq/odefiltsmooth/initialization_routines/_initialization_routine.py
  src/probnum/diffeq/odefiltsmooth/initialization_routines/_runge_kutta.py
  src/probnum/diffeq/odefiltsmooth/initialization_routines/_taylor_mode.py
  src/probnum/diffeq/odefiltsmooth/initialize/__init__.py
  src/probnum/diffeq/odefiltsmooth/initialize/_initialize_with_runge_kutta.py
  src/probnum/diffeq/odefiltsmooth/initialize/_initialize_with_taylormode.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/__init__.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/_interface_initialize_test.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/conftest.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/test_runge_kutta.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/test_taylor_mode.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/utils/__init__.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/utils/_decorators.py
  tests/test_diffeq/test_odefiltsmooth/test_initialize/utils/_known_initial_derivatives.py
Labels: diffeq, refactoring

#479 Use `LinearOperator`s in `statespace.IBM`
  benchmarks/randprocs.py
  docs/source/tutorials/filtsmooth/linear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/nonlinear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/particle_filtering.ipynb
  src/probnum/_config.py
  src/probnum/linops/_linear_operator.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/randprocs/_markov_process.py
  src/probnum/randvars/_constant.py
  src/probnum/randvars/_normal.py
  src/probnum/statespace/__init__.py
  src/probnum/statespace/discrete_transition.py
  src/probnum/statespace/generate_samples.py
  src/probnum/statespace/integrator.py
  src/probnum/statespace/preconditioner.py
  src/probnum/statespace/sde.py
  src/probnum/statespace/sde_utils.py
  tests/test_randprocs/test_markov_process.py
  tests/test_randvars/test_constant.py
  tests/test_randvars/test_normal.py
  tests/test_statespace/test_discrete_transition.py
  tests/test_statespace/test_generate_samples.py
  tests/test_statespace/test_integrator.py
  tests/test_statespace/test_sde.py
Labels: feature request, improvement, statespace

#486 Information operators in `diffeq` as well as `__init__(ivp) -> solve(ivp)`
  docs/source/api/diffeq/odefiltsmooth.rst
  docs/source/api/diffeq/odefiltsmooth/approx_strategies.rst
  docs/source/api/diffeq/odefiltsmooth/information_operators.rst
  docs/source/tutorials/filtsmooth/linear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/nonlinear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/particle_filtering.ipynb
  docs/source/tutorials/odes/adaptive_steps_odefilter.ipynb
  docs/source/tutorials/odes/odesolvers_from_scratch.ipynb
  docs/source/tutorials/odes/uncertainties_odefilters.ipynb
  src/probnum/diffeq/_odesolver.py
  src/probnum/diffeq/_perturbsolve_ivp.py
  src/probnum/diffeq/_probsolve_ivp.py
  src/probnum/diffeq/odefiltsmooth/__init__.py
  src/probnum/diffeq/odefiltsmooth/_ivpfiltsmooth.py
  src/probnum/diffeq/odefiltsmooth/_kalman_odesolution.py
  src/probnum/diffeq/odefiltsmooth/approx_strategies/__init__.py
  src/probnum/diffeq/odefiltsmooth/approx_strategies/_approx_strategy.py
  src/probnum/diffeq/odefiltsmooth/approx_strategies/_ek.py
  src/probnum/diffeq/odefiltsmooth/information_operators/__init__.py
  src/probnum/diffeq/odefiltsmooth/information_operators/_approx_information_operator.py
  src/probnum/diffeq/odefiltsmooth/information_operators/_information_operator.py
  src/probnum/diffeq/odefiltsmooth/information_operators/_ode_residual.py
  src/probnum/diffeq/odefiltsmooth/utils/__init__.py
  src/probnum/diffeq/odefiltsmooth/utils/_problem_utils.py
  src/probnum/diffeq/perturbed/scipy_wrapper/_wrapped_scipy_solver.py
  src/probnum/diffeq/perturbed/step/_perturbedstepsolver.py
  src/probnum/filtsmooth/gaussian/approx/_extendedkalman.py
  src/probnum/filtsmooth/gaussian/approx/_unscentedkalman.py
  src/probnum/filtsmooth/optim/_iterated_component.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/randprocs/markov/discrete/_discrete_gaussian.py
  tests/test_diffeq/test_odefiltsmooth/test_approx_strategies/__init__.py
  tests/test_diffeq/test_odefiltsmooth/test_approx_strategies/_approx_test_interface.py
  tests/test_diffeq/test_odefiltsmooth/test_approx_strategies/test_ek.py
  tests/test_diffeq/test_odefiltsmooth/test_information_operators/__init__.py
  tests/test_diffeq/test_odefiltsmooth/test_information_operators/_information_operator_test_inferface.py
  tests/test_diffeq/test_odefiltsmooth/test_information_operators/test_ode_residual.py
  tests/test_diffeq/test_odefiltsmooth/test_string_to_measmodel.py
  tests/test_diffeq/test_odefiltsmooth/test_utils/__init__.py
  tests/test_diffeq/test_odefiltsmooth/test_utils/test_problem_utils.py
  tests/test_diffeq/test_odesolver.py
  tests/test_diffeq/test_perturbed/test_scipy_wrapper/test_wrapped_scipy_cases.py
  tests/test_diffeq/test_perturbed/test_scipy_wrapper/test_wrapped_scipy_odesolution.py
  tests/test_diffeq/test_perturbed/test_scipy_wrapper/test_wrapped_scipy_solver.py
  tests/test_diffeq/test_perturbed/test_step/test_perturbed_cases.py
  tests/test_diffeq/test_perturbed/test_step/test_perturbedstepsolution.py
  tests/test_diffeq/test_perturbed/test_step/test_perturbedstepsolver.py
Labels: diffeq, refactoring
