Repository probabilistic-numerics/probnum, pull requests merged in 2021-02, with the labels that each got.

#310 Discrete transition variable names
  src/probnum/diffeq/odefiltsmooth/ivpfiltsmooth.py
  src/probnum/filtsmooth/gaussfiltsmooth/extendedkalman.py
  src/probnum/filtsmooth/gaussfiltsmooth/unscentedkalman.py
  src/probnum/filtsmooth/statespace/discrete_transition.py
  src/probnum/filtsmooth/statespace/integrator.py
  tests/test_filtsmooth/test_gaussfiltsmooth/filtsmooth_testcases.py
  tests/test_filtsmooth/test_statespace/test_discrete_transition.py
  tests/test_filtsmooth/test_statespace/test_integrator.py
Labels: filtsmooth

#321 updated developer docs to pytest
  docs/source/development/unit_testing.ipynb
Labels: documentation

#318 Taylor-mode initialisation with JAX
  docs/source/public_api/problems.rst
  setup.cfg
  src/probnum/diffeq/__init__.py
  src/probnum/diffeq/odefiltsmooth/__init__.py
  src/probnum/diffeq/odefiltsmooth/initialise.py
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/diffeq/__init__.py
  src/probnum/problems/zoo/diffeq/_ivp_examples_jax.py
  tests/test_problems/test_zoo/test_diffeq/__init__.py
  tests/test_problems/test_zoo/test_diffeq/test_ivp_examples_jax.py
Labels: diffeq

#292 Tutorial Notebooks for Bayesian Filtering in Linear and Nonlinear State-Space Models
  docs/source/index.rst
  docs/source/tutorials/bayesian_filtering_smoothing.rst
  docs/source/tutorials/filtsmooth/linear_bayesian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/nonlinear_bayesian_filtering_smoothing.ipynb
Labels: documentation, filtsmooth

#332 Fix doctest collection
  pyproject.toml
  setup.cfg
  src/probnum/diffeq/odefiltsmooth/initialise.py
  tox.ini
Labels: testing and CI
