Repository probabilistic-numerics/probnum, pull requests merged in 2022-04, with the labels that each got.

#683 refactor utils with pylint
  src/probnum/utils/arrayutils.py
  src/probnum/utils/linalg/_cholesky_updates.py
  src/probnum/utils/linalg/_inner_product.py
  src/probnum/utils/linalg/_orthogonalize.py
  tox.ini
Labels: testing and CI

#659 making `quad` iterator info stateless & adding tests
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/solvers/__init__.py
  src/probnum/quad/solvers/bayesian_quadrature.py
  src/probnum/quad/solvers/bq_state.py
  src/probnum/quad/solvers/policies/_policy.py
  src/probnum/quad/solvers/policies/_random_policy.py
  src/probnum/quad/solvers/stopping_criteria/_bq_stopping_criterion.py
  src/probnum/quad/solvers/stopping_criteria/_immediate_stop.py
  src/probnum/quad/solvers/stopping_criteria/_integral_variance_tol.py
  src/probnum/quad/solvers/stopping_criteria/_max_nevals.py
  src/probnum/quad/solvers/stopping_criteria/_rel_mean_change.py
  tests/test_quad/test_bq_state.py
  tests/test_quad/test_stopping_criterion.py
Labels: quad

#696 Fixed the `line-too-long` message for all modules under `probnum.linalg` subpackage.
  src/probnum/linalg/_bayescg.py
  src/probnum/linalg/solvers/_probabilistic_linear_solver.py
  src/probnum/linalg/solvers/_state.py
  src/probnum/linalg/solvers/belief_updates/_linear_solver_belief_update.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/_matrix_based_linear_belief_update.py
  src/probnum/linalg/solvers/belief_updates/matrix_based/_symmetric_matrix_based_linear_belief_update.py
  src/probnum/linalg/solvers/belief_updates/solution_based/_projected_residual_belief_update.py
  src/probnum/linalg/solvers/beliefs/_linear_system_belief.py
  src/probnum/linalg/solvers/information_ops/__init__.py
  src/probnum/linalg/solvers/information_ops/_linear_solver_information_op.py
  src/probnum/linalg/solvers/information_ops/_projected_residual.py
  src/probnum/linalg/solvers/policies/_conjugate_gradient.py
  src/probnum/linalg/solvers/policies/_random_unit_vector.py
  src/probnum/linalg/solvers/stopping_criteria/_linear_solver_stopping_criterion.py
  tox.ini
Labels: linalg, testing and CI

#697 fix pylint line-too-long errors in tests
  tests/test_diffeq/test_odefilter/test_approx_strategies/test_ek.py
  tests/test_diffeq/test_odefilter/test_utils/test_problem_utils.py
  tests/test_linalg/test_problinsolve.py
  tests/test_linalg/test_solvers/test_belief_updates/test_matrix_based/test_matrix_based_linear_belief_update.py
  tests/test_linalg/test_solvers/test_belief_updates/test_matrix_based/test_symmetric_matrix_based_linear_belief_update.py
  tests/test_linops/test_arithmetics.py
  tests/test_linops/test_arithmetics_fallbacks.py
  tests/test_randvars/test_normal.py
  tests/testing/statistics.py
  tox.ini
Labels: testing and CI

#646 Introduce MarkovSequence
  benchmarks/filtsmooth.py
  docs/source/tutorials/filtsmooth/discrete_linear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/discrete_nonlinear_gaussian_filtering_smoothing.ipynb
  docs/source/tutorials/filtsmooth/particle_filtering.ipynb
  src/probnum/filtsmooth/_kalman_filter_smoother.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/randprocs/markov/__init__.py
  src/probnum/randprocs/markov/_markov.py
  src/probnum/randprocs/markov/integrator/_ioup.py
  src/probnum/randprocs/markov/integrator/_iwp.py
  src/probnum/randprocs/markov/integrator/_matern.py
  src/probnum/randprocs/markov/utils/_generate_measurements.py
  tests/test_filtsmooth/test_gaussian/test_approx/_linearization_test_interface.py
  tests/test_randprocs/test_markov/test_utils/__init__.py
  tests/test_randprocs/test_markov/test_utils/test_generate_samples.py
Labels: refactoring, randprocs

#706 Bugfix in pre-commit hooks
  .pre-commit-config.yaml
Labels: bug, testing and CI, dependencies

#620 Consistent error handling & defaults for `quad`
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/_quad_typing.py
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
  src/probnum/quad/solvers/bayesian_quadrature.py
  src/probnum/quad/solvers/belief_updates/_belief_update.py
  src/probnum/quad/solvers/bq_state.py
  src/probnum/quad/solvers/policies/_policy.py
  src/probnum/quad/solvers/stopping_criteria/_bq_stopping_criterion.py
  src/probnum/quad/solvers/stopping_criteria/_immediate_stop.py
  tests/test_quad/test_bayesian_quadrature.py
  tests/test_quad/test_bayesquad/test_bq.py
Labels: quad

#707 Fix flaky `quad` test.
  tests/test_quad/test_kernel_embeddings.py
Labels: testing and CI, quad
