Repository probabilistic-numerics/probnum, pull requests merged in 2022-11, with the labels that each got.

#736 Fixed styling of thumbnails in tutorials
  docs/source/_static/custom.css
Labels: bug, documentation

#735 Refactor LinearOperator for method overriding
  docs/source/tutorials/linops/linear_operators_quickstart.ipynb
  src/probnum/linalg/solvers/matrixbased.py
  src/probnum/linops/__init__.py
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/linops/_utils.py
  tests/test_linops/test_linops_cases/linear_operator_cases.py
  tests/test_randvars/test_normal.py
Labels: linops

#737 Caching of the LU decomposition computed by `_InverseLinearOperator`
  src/probnum/linops/_linear_operator.py
  tests/test_linops/test_linops_cases/linear_operator_cases.py
Labels: bug, refactoring, improvement, linops

#739 Clean up `quad` api
  docs/source/api/quad.rst
  docs/source/api/quad/integration_measures.rst
  docs/source/api/quad/kernel_embeddings.rst
  docs/source/api/quad/solvers.belief_updates.rst
  docs/source/api/quad/solvers.policies.rst
  docs/source/api/quad/solvers.rst
  docs/source/api/quad/solvers.stopping_criteria.rst
  docs/source/api/quad/typing.rst
  docs/source/conf.py
  src/probnum/quad/__init__.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/_utils.py
  src/probnum/quad/integration_measures/__init__.py
  src/probnum/quad/integration_measures/_integration_measures.py
  src/probnum/quad/kernel_embeddings/__init__.py
  src/probnum/quad/kernel_embeddings/_expquad_gauss.py
  src/probnum/quad/kernel_embeddings/_expquad_lebesgue.py
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
  src/probnum/quad/kernel_embeddings/_matern_lebesgue.py
  src/probnum/quad/solvers/__init__.py
  src/probnum/quad/solvers/_bayesian_quadrature.py
  src/probnum/quad/solvers/_bq_state.py
  src/probnum/quad/solvers/belief_updates/__init__.py
  src/probnum/quad/solvers/belief_updates/_belief_update.py
  src/probnum/quad/solvers/policies/__init__.py
  src/probnum/quad/solvers/policies/_policy.py
  src/probnum/quad/solvers/policies/_random_policy.py
  src/probnum/quad/solvers/policies/_van_der_corput_policy.py
  src/probnum/quad/solvers/stopping_criteria/_bq_stopping_criterion.py
  src/probnum/quad/solvers/stopping_criteria/_immediate_stop.py
  src/probnum/quad/solvers/stopping_criteria/_integral_variance_tol.py
  src/probnum/quad/solvers/stopping_criteria/_max_nevals.py
  src/probnum/quad/solvers/stopping_criteria/_rel_mean_change.py
  src/probnum/quad/typing.py
  tests/test_quad/conftest.py
  tests/test_quad/test_bayesian_quadrature.py
  tests/test_quad/test_bayesquad/test_bq.py
  tests/test_quad/test_bq_state.py
  tests/test_quad/test_integration_measure.py
  tests/test_quad/test_kernel_embeddings.py
  tests/test_quad/test_policy.py
  tests/test_quad/test_stopping_criterion.py
Labels: documentation, quad

#742 adding some info to `quad` docs.
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
Labels: documentation, quad

#743 Consistent file structure for `quad`
  src/probnum/quad/integration_measures/__init__.py
  src/probnum/quad/integration_measures/_gaussian_measure.py
  src/probnum/quad/integration_measures/_integration_measure.py
  src/probnum/quad/integration_measures/_integration_measures.py
  src/probnum/quad/integration_measures/_lebesgue_measure.py
  src/probnum/quad/solvers/belief_updates/__init__.py
  src/probnum/quad/solvers/belief_updates/_belief_update.py
  src/probnum/quad/solvers/belief_updates/_standard_update.py
  src/probnum/quad/solvers/policies/_random_policy.py
  src/probnum/quad/solvers/policies/_van_der_corput_policy.py
Labels: quad

#744 Make `quad` policies stateless
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/solvers/_bayesian_quadrature.py
  src/probnum/quad/solvers/policies/_policy.py
  src/probnum/quad/solvers/policies/_random_policy.py
  src/probnum/quad/solvers/policies/_van_der_corput_policy.py
  src/probnum/quad/solvers/stopping_criteria/_max_nevals.py
  tests/test_quad/test_bayesian_quadrature.py
  tests/test_quad/test_bayesquad/test_bq.py
  tests/test_quad/test_policy.py
Labels: quad

#745 Initial designs for `quad`
  docs/source/api/quad/solvers.initial_designs.rst
  docs/source/api/quad/solvers.rst
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/solvers/__init__.py
  src/probnum/quad/solvers/_bayesian_quadrature.py
  src/probnum/quad/solvers/initial_designs/__init__.py
  src/probnum/quad/solvers/initial_designs/_initial_design.py
  src/probnum/quad/solvers/initial_designs/_latin_design.py
  src/probnum/quad/solvers/initial_designs/_mc_design.py
  src/probnum/quad/solvers/policies/_van_der_corput_policy.py
  tests/test_quad/test_bayesian_quadrature.py
  tests/test_quad/test_bayesquad/test_bq.py
  tests/test_quad/test_initial_designs.py
  tests/test_quad/test_policy.py
Labels: quad
