Repository probabilistic-numerics/probnum, pull requests merged in 2022-03, with the labels that each got.

#654 Kernel arithmetic
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/randprocs/kernels/__init__.py
  src/probnum/randprocs/kernels/_arithmetic.py
  src/probnum/randprocs/kernels/_arithmetic_fallbacks.py
  src/probnum/randprocs/kernels/_kernel.py
  src/probnum/randprocs/kernels/_white_noise.py
  tests/test_randprocs/test_kernels/conftest.py
  tests/test_randprocs/test_kernels/test_arithmetic.py
  tests/test_randprocs/test_kernels/test_arithmetic_fallbacks.py
Labels: improvement, prob

#655 Consistent usage of "residual" in `probnum.linalg`
  benchmarks/linearsolvers.py
  src/probnum/linalg/_bayescg.py
  src/probnum/linalg/solvers/_state.py
  src/probnum/linalg/solvers/information_ops/_projected_rhs.py
  src/probnum/linalg/solvers/policies/_conjugate_gradient.py
  src/probnum/linalg/solvers/stopping_criteria/_residual_norm.py
  tests/test_linalg/test_solvers/test_policies/test_conjugate_gradient.py
  tests/test_linalg/test_solvers/test_probabilistic_linear_solver/test_asymmetric.py
  tests/test_linalg/test_solvers/test_probabilistic_linear_solver/test_symmetric.py
  tests/test_linalg/test_solvers/test_state.py
Labels: linalg, improvement

#583 Matern embedding
  src/probnum/quad/__init__.py
  src/probnum/quad/kernel_embeddings/__init__.py
  src/probnum/quad/kernel_embeddings/_expquad_gauss.py
  src/probnum/quad/kernel_embeddings/_expquad_lebesgue.py
  src/probnum/quad/kernel_embeddings/_kernel_embedding.py
  src/probnum/quad/kernel_embeddings/_matern_lebesgue.py
  src/probnum/randprocs/kernels/__init__.py
  src/probnum/randprocs/kernels/_linear.py
  src/probnum/randprocs/kernels/_matern.py
  src/probnum/randprocs/kernels/_product_matern.py
  tests/test_quad/conftest.py
  tests/test_quad/test_kernel_embeddings.py
  tests/test_randprocs/test_kernels/conftest.py
  tests/test_randprocs/test_kernels/test_call.py
  tests/test_randprocs/test_kernels/test_product_matern.py
Labels: quad

#657 Moving `quad` policies to separate modules
  src/probnum/quad/solvers/policies/__init__.py
  src/probnum/quad/solvers/policies/_policy.py
  src/probnum/quad/solvers/policies/_random_policy.py
Labels: quad

#663 Remove restriction for negative scalars in `ScaledKernel`
  src/probnum/randprocs/kernels/_arithmetic_fallbacks.py
  tests/test_randprocs/test_kernels/test_arithmetic_fallbacks.py
Labels: refactoring, improvement, prob

#665 Fixing parameters expansion in `ProductMatern`
  src/probnum/randprocs/kernels/_product_matern.py
  tests/test_quad/test_kernel_conversion.py
Labels: bug, quad

#662 Improved type hints in documentation
  docs/source/api.rst
  docs/source/api/typing.rst
  docs/source/conf.py
  docs/source/development/adding_to_the_api_documentation.ipynb
  docs/sphinx-requirements.txt
  src/probnum/_function.py
  src/probnum/diffeq/_odesolver.py
  src/probnum/diffeq/_perturbsolve_ivp.py
  src/probnum/diffeq/_probsolve_ivp.py
  src/probnum/filtsmooth/_kalman_filter_smoother.py
  src/probnum/filtsmooth/_timeseriesposterior.py
  src/probnum/filtsmooth/gaussian/_kalmanposterior.py
  src/probnum/linalg/_problinsolve.py
  src/probnum/linalg/solvers/_probabilistic_linear_solver.py
  src/probnum/linalg/solvers/_state.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_utils.py
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/filtsmooth/_filtsmooth_problems.py
  src/probnum/problems/zoo/linalg/_random_linear_system.py
  src/probnum/problems/zoo/linalg/_random_spd_matrix.py
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/_integration_measures.py
  src/probnum/randprocs/_gaussian_process.py
  src/probnum/randprocs/_random_process.py
  src/probnum/randprocs/kernels/_exponentiated_quadratic.py
  src/probnum/randprocs/kernels/_kernel.py
  src/probnum/randprocs/kernels/_linear.py
  src/probnum/randprocs/kernels/_matern.py
  src/probnum/randprocs/kernels/_polynomial.py
  src/probnum/randprocs/kernels/_product_matern.py
  src/probnum/randprocs/kernels/_rational_quadratic.py
  src/probnum/randprocs/kernels/_white_noise.py
  src/probnum/randprocs/markov/_markov_process.py
  src/probnum/randvars/_constant.py
  src/probnum/randvars/_normal.py
  src/probnum/randvars/_random_variable.py
  src/probnum/randvars/_scipy_stats.py
  src/probnum/typing.py
Labels: documentation

#676 Jupyter Documentation replaced by RST
  docs/source/assets/img/developer_guides/jupyter.png
  docs/source/assets/img/developer_guides/test-results.png
  docs/source/conf.py
  docs/source/development/adding_to_the_api_documentation.ipynb
  docs/source/development/adding_to_the_api_documentation.rst
  docs/source/development/creating_an_example_notebook.ipynb
  docs/source/development/creating_an_example_notebook.rst
  docs/source/development/unit_testing.ipynb
  docs/source/development/unit_testing.rst
Labels: documentation

#685 Migrate `setup.cfg` to `pyproject.toml` and refactor `pyproject.toml`
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
Labels: refactoring, testing and CI, dependencies

#691 Move contents of `.coveragerc` into `pyproject.toml`
  .coveragerc
  pyproject.toml
Labels: improvement, testing and CI
