Repository probabilistic-numerics/probnum, pull requests merged in 2023-02, with the labels that each got.

#771 Efficient implementation of arbitrary half-integer Matérn Kernels
  src/probnum/randprocs/kernels/_exponentiated_quadratic.py
  src/probnum/randprocs/kernels/_kernel.py
  src/probnum/randprocs/kernels/_matern.py
  src/probnum/randprocs/kernels/_product_matern.py
  tests/test_linalg/cases/matrices.py
  tests/test_quad/conftest.py
  tests/test_randprocs/conftest.py
  tests/test_randprocs/test_kernels/conftest.py
  tests/test_randprocs/test_kernels/test_exponentiated_quadratic.py
  tests/test_randprocs/test_kernels/test_kernel.py
  tests/test_randprocs/test_kernels/test_matern.py
  tests/test_randprocs/test_kernels/test_product_matern.py
Labels: refactoring, improvement, randprocs

#773 Fallback implementations of `LinearOperator` methods
  src/probnum/linops/_linear_operator.py
Labels: refactoring, linops

#772 `LinearOperator.solve` method
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/linops/_vectorize.py
  tests/test_linops/test_linops.py
  tests/test_linops/test_linops_cases/arithmetic_cases.py
  tests/test_linops/test_linops_cases/linear_operator_cases.py
  tests/test_linops/test_matrix.py
Labels: refactoring, improvement, linops

#776 `{Identity,Symmetric}Kronecker` and `Symmetrize` implementation via subclassing
  src/probnum/linops/_kronecker.py
Labels: refactoring, linops

#778 Update `LinearOperator` class docstring
  src/probnum/linops/_linear_operator.py
Labels: documentation, linops

#777 Fix all `pylint` messages in `linops`
  src/probnum/linops/_arithmetic.py
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/linops/_kronecker.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_scaling.py
  src/probnum/linops/_utils.py
  tox.ini
Labels: refactoring, testing and CI, linops

#746 Some `quad` toy problems
  docs/source/api/problems/zoo.quad.rst
  docs/source/api/problems/zoo.rst
  src/probnum/problems/_problems.py
  src/probnum/problems/zoo/quad/__init__.py
  src/probnum/problems/zoo/quad/_emukit_problems.py
  tests/test_problems/test_zoo/test_quad/test_problems.py
Labels: quad

#758 Some more acquisition functions for `quad`
  src/probnum/quad/_bayesquad.py
  src/probnum/quad/solvers/_bayesian_quadrature.py
  src/probnum/quad/solvers/acquisition_functions/__init__.py
  src/probnum/quad/solvers/acquisition_functions/_integral_variance_reduction.py
  src/probnum/quad/solvers/acquisition_functions/_mutual_information.py
  src/probnum/quad/solvers/acquisition_functions/_predictive_variance.py
  src/probnum/quad/solvers/belief_updates/_belief_update.py
  src/probnum/quad/solvers/belief_updates/_standard_update.py
  src/probnum/quad/solvers/policies/_random_policy.py
  tests/test_quad/test_acquisition_functions.py
  tests/test_quad/test_bayesian_quadrature.py
  tests/test_quad/test_belief_update.py
Labels: quad

#783 Specify matplotlib version for notebooks
  docs/notebook-requirements.txt
Labels: bug, documentation

#782 `Kernel.linop` method
  docs/source/conf.py
  src/probnum/randprocs/_random_process.py
  src/probnum/randprocs/kernels/_arithmetic_fallbacks.py
  src/probnum/randprocs/kernels/_kernel.py
  src/probnum/randprocs/markov/_markov.py
  tests/test_randprocs/test_kernels/test_arithmetic.py
  tests/test_randprocs/test_kernels/test_linop_matrix.py
  tests/test_randprocs/test_kernels/test_matrix.py
Labels: randprocs

#788 Refactor global `pylint` checks
  .github/workflows/linting.yml
  .github/workflows/pylint_check.py
  linting-requirements.txt
  pyproject.toml
  src/probnum/_config.py
  src/probnum/conftest.py
  src/probnum/functions/_function.py
  src/probnum/linops/_arithmetic_fallbacks.py
  src/probnum/linops/_linear_operator.py
  src/probnum/linops/_vectorize.py
  src/probnum/randprocs/_random_process.py
  src/probnum/randprocs/kernels/_arithmetic.py
  src/probnum/randprocs/kernels/_arithmetic_fallbacks.py
  src/probnum/randprocs/kernels/_exponentiated_quadratic.py
  src/probnum/randprocs/kernels/_kernel.py
  src/probnum/randprocs/kernels/_matern.py
  src/probnum/randprocs/kernels/_product_matern.py
  src/probnum/utils/argutils.py
  src/probnum/utils/arrayutils.py
  src/probnum/utils/linalg/_cholesky_updates.py
  tox.ini
Labels: testing and CI

#784 add warning to `quad` docs
  src/probnum/quad/_bayesquad.py
Labels: documentation, quad

#789 Rename `Kernel` to `CovarianceFunction`
  .github/CODEOWNERS
  benchmarks/covfuncs.py
  benchmarks/kernels.py
  docs/source/api/randprocs.rst
  docs/source/api/randprocs/covfuncs.rst
  docs/source/api/randprocs/kernels.rst
  src/probnum/randprocs/__init__.py
  src/probnum/randprocs/_gaussian_process.py
  src/probnum/randprocs/_random_process.py
  src/probnum/randprocs/covfuncs/__init__.py
  src/probnum/randprocs/covfuncs/_arithmetic.py
  src/probnum/randprocs/covfuncs/_arithmetic_fallbacks.py
  src/probnum/randprocs/covfuncs/_covariance_function.py
  src/probnum/randprocs/covfuncs/_exponentiated_quadratic.py
  src/probnum/randprocs/covfuncs/_linear.py
  src/probnum/randprocs/covfuncs/_matern.py
  src/probnum/randprocs/covfuncs/_polynomial.py
  src/probnum/randprocs/covfuncs/_product_matern.py
  src/probnum/randprocs/covfuncs/_rational_quadratic.py
  src/probnum/randprocs/covfuncs/_white_noise.py
  src/probnum/randprocs/kernels.py
  src/probnum/randprocs/kernels/__init__.py
  src/probnum/randprocs/kernels/_arithmetic.py
  tests/test_randprocs/conftest.py
  tests/test_randprocs/test_covfuncs/__init__.py
  tests/test_randprocs/test_covfuncs/conftest.py
  tests/test_randprocs/test_covfuncs/test_arithmetic.py
  tests/test_randprocs/test_covfuncs/test_arithmetic_fallbacks.py
  tests/test_randprocs/test_covfuncs/test_call.py
  tests/test_randprocs/test_covfuncs/test_covariance_function.py
  tests/test_randprocs/test_covfuncs/test_exponentiated_quadratic.py
  tests/test_randprocs/test_covfuncs/test_linop_matrix.py
  tests/test_randprocs/test_covfuncs/test_matern.py
  tests/test_randprocs/test_covfuncs/test_product_matern.py
  tests/test_randprocs/test_covfuncs/test_rational_quadratic.py
  tests/test_randprocs/test_gaussian_process.py
  tests/test_randprocs/test_kernels/test_arithmetic.py
  tests/test_randprocs/test_kernels/test_arithmetic_fallbacks.py
  tests/test_randprocs/test_kernels/test_kernel.py
  tests/test_randprocs/test_kernels/test_product_matern.py
  tests/test_randprocs/test_random_process.py
Labels: refactoring, randprocs

#790 Fix to benchmark runner by adding custom build command
  benchmarks/asv.conf.json
  benchmarks/requirements.txt
  tox.ini
Labels: bug, testing and CI
